*,
*::before,
*::after{
    padding:0;
    margin:0;
    border:0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul,
ol,
li{
    list-style: none;
}
img{
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6{
    font-weight: inherit;
    font-size: inherit;
}
html,
body{
    height: 100%;
    line-height: 1;
    font-size:30px;
    background-color: #8064EA;
    font-family:Arial,"Helvetica Neue", Helvetica, sans-serif;
}
.logo img{
    height: 100%;
}
.wrapper{
    height: 100%;
    opacity:0;
    transition: opacity 0.8s ease 0s;
}
.wrapper._loaded{
    opacity:1;
}

.wrapper._loaded .header{
    transition: transform 0.9s ease 0.8s;
    transform:translate(0px,0px);
}
.wrapper._loaded .page_pagination{
    transform:translate(0px,-50px);
    opacity:1;
    visibility: visible;
    transition: transform 0.6s ease 0.8s;
}
.wrapper._free .page_pagination{
    transition: all 0.3s ease 0s;
    transform:translate(50px,-50%);
    opacity:0;
}
.header{
    position:fixed;
    width: 100%;
    top:0;
    left:0;
    z-index:50;
    padding:0px 20px;
    background-color: rgba(0, 0, 0, 0.5);
    transform: translate(0px,-100%)

}
.menu{
    display:flex;
    min-height: 50px;
    align-items: center;
}
.menu_link{
    color:white;
    font-size: 20px;
    transition:color 0.3s ease 0s;
    margin:0px 20px 0px 0px;

}
.menu_link._active{
    color:#8064EA;
    
}
.page{
    position: fixed;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    overflow: hidden;
}
.page_screen{
    background-color: #0D0A14;
}

.page_wrapper{
    display:flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.screen{
    flex:1 0 100%;
    position:relative;
}
.screen_content2{
    padding:100px 25px 25px 25px;
    position: relative;
    z-index:2;
    top:20%;
}
.screen_content{
    padding:100px 25px 25px 25px;
    position: relative;
    z-index:5; 
    text-align: center;
    height: 100%;
}
.screen_content h2{
    text-align: center;
    position: relative;
}
.screen_content3{
    padding:100px 25px 25px 25px;
    position: relative;
    z-index:2; 
}
.screen_text a,p2{
    color:#6BF2E5; 
}

.screen_title{
    font-size:50px;
    margin: 0px 0px 30px 0px;
    display: inline-block;
    color:#8064EA;
}
.h4{
    padding:100px;
}
@keyframes render {
    0% {
      stroke-dasharray: 0 100;
    }
  }
  

  
  .canvas {
    display: flex;
    justify-content: space-between;
    align-items: right;
    width: 65%;
  }
  
  .legend {
    max-width: 250px;
    margin-left: 25%;
    text-align: left;
  }
  

  
  .caption-list {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: left;
  }
  
  .caption-item {
    position: relative;
    margin: 50px 0;
    padding-left: 30px;
    font-family: "Verdana", sans-serif;
    font-size: 26px;
    line-height: 25px;
    color: #ffffff;  
  }
  
  .caption-item:hover {
    opacity: 0.8;
  }
  
  .caption-item::before {
    content: "";
    
    position: absolute;
    top: 0;
    left: 0;
    
    width: 20px;
    height: 20px;
    
    border-radius: 8px;
  }
  
  .caption-item:nth-child(1)::before {
    background-color: #009e1a;
  }
  
  .caption-item:nth-child(2)::before {
    background-color: #0011aa;
  }
  
  .caption-item:nth-child(3)::before {
    background-color: #a0006b;
  }
  
  .caption-item:nth-child(4)::before {
    background-color: #ac7500;
  }
.text{
    background-color: #151020;
    text-align: center;
}
.text h2{
    width:350px;
    font-size:40px;
    text-align: center;
    margin:5px 1px;
}
.Algin{
    padding:10px;
}
  .chart {
    min-width:70%;
  }
  
  .unit {
    fill: none;
    stroke-width: 5;
    text-align: center;
    cursor: pointer;

    animation-name: render;
    animation-duration: 1.5s;
    transition-property: all; 
    transition-duration: 1.5s;
  }

  .unit:hover,
  .hovered {
    opacity: 0.8;
    stroke-width: 8;
  }
  
  .unit:nth-child(1) {
    stroke: #009e1a;
    stroke-dasharray: 40 100;
    stroke-dashoffset: 0;
  }
  .unit:nth-child(2) {
    stroke: #0011aa;
    stroke-dasharray: 10 100;
    stroke-dashoffset: -40;
  }
  .unit:nth-child(3) {
    stroke: #a0006b;
    stroke-dasharray: 30 100;
    stroke-dashoffset: -50;
  }
  .unit:nth-child(4) {
    stroke: #ac7500;
    stroke-dasharray: 40 100;
    stroke-dashoffset: -80;
  }
.screen_title_bg{
    
    text-align: center;
    font-size: 60px;
    margin:0px 0;
    color:#8064EA;

}
.screen_body{
    position:absolute;
    width:100%;
    height: 100%;
    top:0;
    left:0;
    overflow: hidden;
}
.screen_image{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    object-fit: cover;
}

.screen_image img{
    object-fit: cover;
    position:absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
}

.screen_text{
    font-size:20px;
    line-height: 130%;
    color: white;
}

.screen_text p {
    margin: 0px 0px 20px 0px;

}
.screen_text p:last-child{
    margin-bottom:0;
}

.page_pagination{
    position:absolute;
    top:50%;
    right: 50px;
    transform:translate(0px,-50%);
    display:flex;
    flex-direction:column;
    opacity: 0;
    visibility: hidden;
}
.madlib {
  transition: all 0.5s linear;
  font-size:1rem;
  color:#8064EA;
}
.flip {
  font-size:0px;
  color:transparent;
}

.page_bullet{
    width: 15px;
    height: 15px;
    cursor:pointer;
    background-color:rgba(0, 0, 0, 0.5);
    margin:10px 0;
    border-radius:50%;
    transition: background-color 0.3s ease 0s;
}

.page_bullet_active{
    background-color: white;
}
.page_scroll{
    position: absolute;
    top:0;
    right:0;
    width: 4px;
    max-height: 100%;
    background-color:rgba(0,0,0,0.2) ;
}
.screen_content2 h2{
    text-align: center;
    color:#8064EA;
}

.screen_content3 h2{
    text-align: center;
    color:#8064EA;
    width: 100%;
    -moz-box-sizing: border-box; /* Для Firefox */
    -webkit-box-sizing: border-box; /* Для Safari и Chrome */
    box-sizing: border-box; /* Для IE и Opera */

}
@media (max-width:750px) and (max-height:813px){
    .text{
        width: 50%;
        margin: 5% auto; 
        padding:0 auto;
        
    }
}

.button_div{
    display:flex;
    justify-content: center;
    align-items: center;
}
.button{
    font-family:Arial, Helvetica, sans-serif;
    text-decoration: none;
    position: relative;
    display: inline-block;

    cursor: pointer;
    height: 10px;
}
.button:before,
.button:after{
    content:"";
    position:absolute;
    width:80px;
    height: 80px;
    border:2px solid #8064EA;
    text-shadow:#8064EA 0 0 10px;
    top:-10px;
    left:50%;
    z-index:1;
    transition: all 0.8s ease 0s;
    margin: 0px 0px 0px -40px;
}
.button:before{animation:rotate 20s infinite linear;
}
.button:after{
    animation:rotate 25s infinite linear;
}
.screen_title_bg:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 10%;
    height: 5px;
    background: rgb(247, 174, 204);
    border-radius:50px;
    margin:10px 45%;

  }

.screen_content2 p{
    text-align: center;
    color:rgb(97, 97, 97);
    width: 100%;
    font-size: 25px;
    -moz-box-sizing: border-box; /* Для Firefox */
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
}
.screen_content3 p{
    text-align: center;
    color:rgb(97, 97, 97);
    width: 100%;
    font-size: 25px;
    -moz-box-sizing: border-box; /* Для Firefox */
    -webkit-box-sizing: border-box; /* Для Safari и Chrome */
    box-sizing: border-box; 
    height: 100%;
}
.screen_content2 h2{
    text-align: center;
    color:white;
    width: 100%;
    -moz-box-sizing: border-box; /* Для Firefox */
    -webkit-box-sizing: border-box; /* Для Safari и Chrome */
    box-sizing: border-box; /* Для IE и Opera */
    padding:25px;
}
.screen_content2 h4{
    text-align: center;
    color:#8064EA;
    width: 100%;
    -moz-box-sizing: border-box; /* Для Firefox */
    -webkit-box-sizing: border-box; /* Для Safari и Chrome */
    box-sizing: border-box; /* Для IE и Opera */
    padding:25px;
}
.button_text{
   position:relative;
   height: 60px;

   display:flex;
   justify-content: center;
   align-items: center;
   padding:0px 50px;
   border-radius:50px;
   font-size: 24px;
   text-transform: uppercase;
   color:rgba(17, 17, 17, 0.8);
   letter-spacing: 10px;
   transition: all 1s ease 0s;
   top:0;
   overflow: hidden;
}
.button_text:before,
.button_text:after{
    content:'';
    position:absolute;
    width:50%;
    height: 100%;
    background-color: white;
    transition:all 0.8s ease 0s;
}
.button_text:before{
    left:0;
    z-index: 2;
}
.button_text:after{
    right:0;
}
.button_text span{
    position: relative;
    z-index: 2;
}
.button:hover .button_text{
    top:-10px;
    color:blanchedalmond;
    transition:all 0.5s ease 0.2s;
    box-shadow: 0 5px 0px 0 #844FFF;
}
.button:hover:before,
.button:hover:after{
    left:100%;
    opacity:0;
}
.button:hover .button_text:before{
    width: 100%;
}
.button:hover .button_text:before,
.button:hover .button_text:after{
    background-color: black;
}

.button:active .button_text{
    top:-7px;
    transition: all 0.1s ease 0s;
    box-shadow: 0 2px 0px 0 white;
}

@keyframes rotate{
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform:rotate(360deg);
    }
}

.screen23 {
    position: relative;
    text-align: center;
    color: #8064EA;
}
h1{
    margin-top: 30px;
    text-align: center;
    color: teal;
    font-size: 2.2em;
    letter-spacing: 0.01em;
}
.testimonials {
    max-width: 800px;
    margin: auto;
    padding: 15px;
    text-align: center;
    position: relative;
    top:5%;
}
.testimonials h2{
    color:#8064EA;
}
.scroller{
    overflow-x: scroll;
    display: flex;
    scroll-snap-type: x mandatory;
    

}
.item {
    min-width: 100%;
    scroll-snap-align: center;
    background-color: white;
    margin-bottom: 10px;
    padding: 0 50px;
    background-color: #0D0A14;
}
.item img {
    margin: 15px auto -60px;
    width: 120px;
    height: 120px;
    border: solid 4px #ffffff;
    border-radius: 60px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    z-index: 2;
}
.card {
    background-color: rgb(237, 242, 247);
    padding: 80px 40px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    z-index: 1;
}
.card p {
    font-style: italic;
    line-height: 1.6;
}
.card span {
    display: block;
    margin-top: 20px;
    color: teal;
    font-weight: bold;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}
.testimonials .btn {
    position: absolute;
    top: 50%;
    margin-top: 20px;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    background-color: rgba(95, 106, 117, 0.3);
    z-index: 1;
    line-height: 30px;
    text-align: center;
    color: white;
    font-weight: bold;
}
.testimonials .btn:hover{
    background-color: rgba(95, 106, 117, 0.5);
    cursor: pointer;
}
.testimonials .btn.next {
    right: 15px;
}
.testimonials .btn.prev {
    left: 15px;
}
@media screen and (max-width: 480px) {
    .item {
        padding: 0 30px;
    }
    .card {
        padding: 80px 30px 30px;
    }
}
html, body {
    scrollbar-color: #458245 #714826;     /* «цвет ползунка» «цвет полосы скроллбара» */

}
.testimonials h2{
    font-size:50px;
    color:#8064EA;
}
.testimonials p2{
    font-size:15px;
    color:white;
    display: block;
}
a.but {
    display: inline-block;
    background: #2196f3;
    color: #fff;
    padding: 12px;
    border-radius: 3px;
    text-decoration: none;
    font-family: Tahoma;
    font-size: 18px;

  }
  
  .but1 {
    margin: 24px;
    text-align: center;
  }
  .footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 80px;
}
@media(max-width:750px) {
    .screen_title{
        font-size:40px;
    }
    .screen_text{
        font-size:10px;
        line-height: 20px;
    }
    .menu_link{
        font-size:12px;
        margin:0px 10px 0px 0px;
    }
    .text p{
        font-size:15px;
        text-align: center;

    }
    .text ul{
        text-align: center;
        font-size:15px;
    }
    .text h2{
        font-size:20px;
        text-align: center;
   
    }
    .text{
        width: 150%;
        margin:auto auto; 
        position: relative;
        top:-65px;
    }
    .card p {
        font-style: italic;
        font-size:15px;
    }

    .card span {
        font-size:15px;
    }
    .screen_content2{
        padding:100px 25px 25px 25px;
        position: relative;
        z-index:2;
        top:0px;
    }
    .screen_content p{
        font-size: 15px;
    }
    .screen_content h2{
        font-size: 25px;
    }
    .testimonials h2{
        font-size: 25px;
    }
    .screen_content h2{
        font-size:25px;
    }
    .Algin{
        padding:2px;
        top:0;
        right: 0;
        bottom: 0;
        left:0;
        z-index: 1;
        text-align: center;
    }
    .legend {
        max-width: 250px;
        margin-left: 50%;
        text-align: left;
      }
      .screen_content3 p{
        text-align: center;
        color:rgb(97, 97, 97);
        width: 100%;
        font-size: 15px;
        -moz-box-sizing: border-box; /* Для Firefox */
        -webkit-box-sizing: border-box; /* Для Safari и Chrome */
        box-sizing: border-box; 
        height: 50%;
    }

    
}